
// Basic Definitions used by All include files

// framework colors
$bw-white: #fff;
$bw-black: #000;
$bw-red: #972020;
$bw-light-red: #a00;
$bw-light-gray: #ccc;
$bw-gray: #777;
$bw-dark-gray: #333;
$bw-medium-gray: #555;
$bw-silver: #f2f2f2;
$bw-pink: #f44a56;
$bw-matte-blue: #3e4b5d;

$bw-color-bg: #222;
$bw-color-highlight: #ccc;
$bw-color-text: #ddd;
$bw-color-text-para: #333;
$bw-color-text-link: #eee;
$bw-color-text-link-hover: #aaa;
$bw-color-btn: #333;
$bw-color-btn-dark: #333;
$bw-color-btn-hvr: #777;

$bw-highlight: #D95F43;
$bw-highlight-text: #FFFBDB;

// sizes
$bw-base: 13px;
$bw-height-std: $bw-base; 



@import 'components/flexslider';    // carousel; needs .js and assets
@import 'components/slimbox2';      // lightbox 

@import 'components/triangles';     // mixins that create CSS triangles
@import 'components/collapsible';   // open/close menu; could be used for dropdown or accordion
@import 'components/pagelist';      // page list look (bottom menu wireframe list)
@import 'components/sitemap';      // page list look (bottom menu wireframe list)



// sticky menu
// note tool http://sharejs.org/

// back / next buttons at the top, to traverse pages or iamges
// image gallery handler, used to show comps
// accordion
// dropdown (clicking on anything should be able to spawn a dropdown, defined in a block object)
// tabs



// Framework Components
// General components, including HTML-responsive helpers

// Sections
// - Font Stacks
// - Layout



// framework-related mixins
$bw-small: new-breakpoint(min-width 0px 6);
$bw-small-only: new-breakpoint(max-width 480px 6);
$bw-medium: new-breakpoint(min-width 480px 12);
$bw-medium-large: new-breakpoint(min-width 768px 12);
$bw-larger: new-breakpoint(min-width 768px 12);
$bw-large: new-breakpoint(min-width 980px 12);
$bw-not-large: new-breakpoint(max-width 980px 12);
$bw-smaller: new-breakpoint(max-width 768px 12);

// function
//    if # < 1 then
//       include fill-parent
//    else
//       include span-columns(#)

@mixin bw-span($sm, $md, $lg){
   @include media($bw-small){@include span-columns($sm); }
   @include media($bw-medium){@include span-columns($md); }
   @include media($bw-large){@include span-columns($lg); }
}
@mixin bw-span-4($sm, $md, $mdlg, $lg){
   @include media($bw-small){@include span-columns($sm); }
   @include media($bw-medium){@include span-columns($md); }
   @include media($bw-medium-large){@include span-columns($mdlg); }
   @include media($bw-large){@include span-columns($lg); }
}

@mixin bw-ease-transition($speed){
    -webkit-transition: $speed ease;
    -moz-transition: $speed ease;
    -ms-transition: $speed ease;
    -o-transition: $speed ease;
    transition: $speed ease;
}

// FONT STACKS
// Included, system-wide font stacks

// Georgia
.fontserif, %fontserif {font-family: Georgia, Baskerville, serif;}

// Arial
.fontarial, %fontarial {font-family: Arial, sans-serif;}

// Open Sans
@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic|Open+Sans:300,400);
.fontsans, %fontsans {font-family: 'Open Sans', sans-serif;}

// Mono
@import url(http://fonts.googleapis.com/css?family=Inconsolata);
.fontmono, %fontmono {font-family: Inconsolata, monospace;}



// Screen Components
.bw-box-light { padding: $bw-base $bw-base $bw-base $bw-base; background: $bw-silver; margin: $bw-base/2 auto $bw-base/2 auto;}
.bw-box-dark { padding: $bw-base $bw-base $bw-base $bw-base; background: $bw-dark-gray; margin: $bw-base/2 auto $bw-base/2 auto;}
.bw-list-page-icon {list-style-image: url('../../images/page-bw.png');}
.bw-box { padding: $bw-base $bw-base $bw-base $bw-base; background: $bw-light-gray; margin: $bw-base/2 auto $bw-base/2 auto;}






// Colors
.bw-color-white {color: $bw-white;}

// Sticky Menu (needs necessary .js)
.bw-stickydiv { } //outer container in case you need it
.bw-stickydiv-stuck { 
// use 'top' and 'left' to position distance from top-left of window
   position:fixed !important;   
} 
.bw-stickydiv-wrapper { height: 1px; } // this height will be invisible, but necessary
.bw-stickydiv-content { top: 0px }


// LAYOUT
// responsive helpers that can easily be inserted in HTML for prototyping

// general layout and sizing helpers
.container { @include fill-parent; @include outer-container; @include clearfix;}

// fully spanning containers with columns
.container-2 {@extend .container; .col-1 {@include span-columns(6); } .col-2 {@include span-columns(6); } }
.container-3 {@extend .container; .col-1 {@include span-columns(4)} .col-2 {@include span-columns(4)} .col-3 {@include span-columns(4)} }
.container-4 {@extend .container; .col-1 {@include span-columns(3)} .col-2 {@include span-columns(3)} .col-3 {@include span-columns(3)} .col-4 {@include span-columns(3)} }
.container-6 {@extend .container; .col-1 {@include span-columns(2)} .col-2 {@include span-columns(2)} .col-3 {@include span-columns(2)}  .col-4 {@include span-columns(2)} .col-5 {@include span-columns(2)} .col-6 {@include span-columns(2)}}

// allows html to call neat.bourbon 
.outer-container{@include outer-container;}
.fill-parent-small{@include media($bw-small){@include fill-parent;}}
.fill-parent{@include fill-parent;} 
.omega{@include omega;}

.span-columns-1{@extend .fill-parent-small; @include media($bw-medium){@include span-columns(1);} }
.span-columns-2{@extend .fill-parent-small; @include media($bw-medium){@include span-columns(2);} }
.span-columns-3{@extend .fill-parent-small; @include media($bw-medium){@include span-columns(3);} }
.span-columns-4{@extend .fill-parent-small; @include media($bw-medium){@include span-columns(4);} }
.span-columns-5{@extend .fill-parent-small; @include media($bw-medium){@include span-columns(5);} }
.span-columns-6{@extend .fill-parent-small; @include media($bw-medium){@include span-columns(6);} }
.span-columns-7{@extend .fill-parent-small; @include media($bw-medium){@include span-columns(7);} }
.span-columns-8{@extend .fill-parent-small; @include media($bw-medium){@include span-columns(8);} }
.span-columns-9{@extend .fill-parent-small; @include media($bw-medium){@include span-columns(9);} }
.span-columns-10{@extend .fill-parent-small; @include media($bw-medium){@include span-columns(10);} }
.span-columns-11{@extend .fill-parent-small; @include media($bw-medium){@include span-columns(11);} }
.span-columns-12{@extend .fill-parent-small; @include media($bw-medium){@include span-columns(12);} }

.span-columns-half{@include span-columns(6);}





