
    
// mixins

@mixin ease-transition($speed){
    -webkit-transition: $speed ease;
    -moz-transition: $speed ease;
    -ms-transition: $speed ease;
    -o-transition: $speed ease;
    transition: $speed ease;
}

@mixin set-radius($rad){
    -webkit-border-radius: $rad;
    -moz-border-radius: $rad;
    -ms-border-radius: $rad;
    -o-border-radius: $rad;
    border-radius: $rad;
}


@mixin font-tip($size: $base, $weight: 400, $height: auto, $style: normal) {
    font-family: 'Georgia', serif;
    font-weight: $weight;
    font-style: $style;
    font-size: $size;
    line-height: $height;
}

@mixin font-body($size: $base, $weight: 300, $height: auto, $style: normal) {
    font-family: 'Open Sans', sans-serif;
    font-weight: $weight;
    font-style: $style;
    font-size: $size;
    line-height: $height;
}


@mixin ui-separator-dashed($color: $light-gray, $color-alt: $silver, $height: 1px)
{
    border: 0; //cancel default <hr> style
    border-bottom: $height dashed $color-alt;
    background: $color;
}

@mixin ui-separator($color: $light-gray, $height: 1px)
{
    border: 0; //cancel default <hr> style
    border-bottom: $height solid $color;
}