<div class="container" id="footer-content">

  <div class="footer-row">
    
      <h4>get started</h4>
      <div id="footer-comein">Ready to start taking control of your life? <br/>Call us today to schedule a free assessment</div>
  </div>

  <div class="footer-row">
    <div class="footer-block" id="footer-reach">
      <!-- <div class="block block-title">Reach Us</div> -->
      <div id="footer-phone"><a href="tel:1-901-828-5678">(901) 828-5678</a></div>
      <div id="footer-email"><a href="mailto:info@upowerfitness.com">info@upowerfitness.com</a></div>
    </div>
    <div id="footer-follow">
      <!-- <div class="block-title">Follow Us</div> -->
      <a target="_blank" href="http://www.facebook.com/upowerfitness" class="social facebook"></a>
      <a target="_blank" href="http://twitter.com/BabetteUpower" class="social twitter"></a>
      <!-- <a href="#" class="social youtube"></a> -->
    </div>
  </div>
 
  <div class="footer-row">
    <div class="footer-block" id="footer-find">
      <!-- <div class="block-title">Find Us</div> -->
      <a href="https://plus.google.com/115811324062157465300/about?gl=us&hl=en">
        <div id="footer-addy1">1029 Piedmont Ave. <span>suite 200</span></div>
        <div id="footer-addy2">Atlanta, GA</div>
        <div id="footer-desc">Our gym is located on the corner of Piedmont Ave. and 12th, between Flying Biscuit and Willy's.</div>
      </a>
    </div>
    <div class="" id="footer-map">
      
      <iframe width="100%" height="100%" frameborder="0" marginheight="0" marginwidth="0" src="http://www.google.com/maps?sll=33.78362129999983,-84.37944049328314&amp;sspn=0.006108860682476857,0.008347830841417074&amp;t=m&amp;q=Upower+Fitness,+1029+Piedmont+Avenue+Northeast+%23200,+Atlanta,+GA&amp;dg=opt&amp;ie=UTF8&amp;hq=upower+fitness+1029&amp;hnear=200+Piedmont+Ave+NE,+Atlanta,+Georgia+30303&amp;ll=33.784113,-84.379171&amp;spn=0.005679,0.009111&amp;output=embed&iwloc=near"></iframe>
    </div>
  </div>

  <div class="footer-row">
    <div id="footer-legal">Copyright 2013 | upower fitness</div>
  </div>
</div>