

<div class="floater">
<article class="article">
   <div class="container">
      <a id="header-logo" href="#header">
         <img class="header-item header-logo-img show-larger" src="assets/images/logo-full-95.png"/>
         <img class="header-item header-logo-img show-medium-max" src="assets/images/logo-square-95.png"/>
      </a>
   </div>

   <div class="container" id="menu-container">
      <section id="menu-btns-wrapper">
         <div id="menu-btns">
            <a class="menu-btn" href="#training">Training</a>
            <a class="menu-btn" href="#classes">Classes</a>
            <a class="menu-btn" href="#about">About</a>
            <a class="menu-btn" id="menu-contact" href="#footer">Get Started</a>
         </div>
      </div>
   </section>
</article>
</div>


<div class="clear"></div>


