
/*
  Expand + Collapse Menu
  - When SMALL: show open button, hide close button, hide content
  - When MED: hide open button, hide close button, show content 
*/

.bw-expandable { @include span-columns(12) }
.bw-btn {
  cursor:pointer;
  text-align: center;
  padding-top: 0.4em;
  // padding: 0.8em;
  color: $bw-light-gray; &:hover {background-color: $bw-dark-gray; color: $bw-white; @include ease-transition(200ms);} 
  margin-top: 1em;
  padding: 1em 0 1em 0; @include font-body(1em, 400); background-color: $bw-silver;
}

// @include media($small) {
//   .collapsible, .collapsible-mobile, .btn-close, .btn-close-mobile{display: none;}
//   .collapsible-mobile{padding: 0.8em; background-color: $bw-silver; @include clearfix;}
// }
// @include media($medium) {
//   .btn { @include span-columns(6);  }
//   .collapsible { @include span-columns(12) }
//   .collapsible, .btn-close, .btn-open-mobile, .btn-close-mobile{display: none;}
// }

// @include media($large) {
//   .btn { @include span-columns(4);  }
//   .collapsible { @include span-columns(12) }
//   .collapsible, .btn-close, .btn-open-mobile, .btn-close-mobile{display: none;}
// }

.bw-collapsible { padding: 0.8em; background-color: $bw-silver; @include clearfix;
 }