
// Sitemap Menu
// currently the sitemap is set up to look the same as the page list, 
// however this might not always be the case, which is why it's a separate file
.bw-sitemap {
   list-style-type: none;  
   font-size: $bw-base+1.4;
   color: $bw-light-gray;
   li {
      @extend .bw-list-page-icon;
      border-left: solid 1px $bw-list-type-color; 
      padding: $bw-base/3 0 0 $bw-base+3 !important;
      margin-left: $bw-base/4 !important;
   }
   & > li {border: none; margin-left: 0 !important}

   // this is to cover for a weird Textile bug with randomly inserted <p> tags...
   p { display: none; }
}

.bw-list-hover li:hover {background-color: rgba(255, 255, 255, 0.04);}