---
layout: none
---

<!doctype html>

<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="upower fitness is a personal trainer and gym that tailors a unique plan for every client. On the edge of Piedmont Park, Atlanta, we specialize in weight-control and lifestyle management.">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, maximum-scale=1, minimum-scale=1" />
  
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

  <link rel="stylesheet" href="assets/stylesheets/compiled/main.css">

  <!-- load fonts here -->
  
</head> 

<body>

  <!-- <a class="goto" id="top"></a> -->
  <section id="header">
    {% include header.html %}
  </section>

  {{ content }}

  <!-- <a class="goto" id="contact"></a> -->
  <section id="footer" class="goto">
    {% include footer.html %}
    
  </section>

 
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="//ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.0.6-development-only.js"></script>
 
  <script src="assets/js/jquery-1.9.1.min.js"></script>
  <script src="assets/js/jquery.flexslider-min.js"></script>
  <script src="assets/js/waypoints.min.js"></script>
  <script src="assets/js/script.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-41551282-1', 'upowerfitness.com');
    ga('send', 'pageview');
  </script>
<!-- 
  <script src="../assets/js/jquery-1.9.1.min.js"></script>
  <script src="../assets/js/jquery.flexslider-min.js"></script>
  <script src="../assets/js/waypoints.min.js"></script>
  <script src="../assets/js/script.js"></script>
 -->
</body>
</html>
